<h1>Welcome to Roommatch by SAA</h1>
<a href="/users"><button>Find A Roommate</button></a>
<!-- add picture, background -->
<!-- <a href="/users/sign_up"><button>Sign Up</button></a>
<a href="/users/sign_in"><button>Log In</button></a> -->