// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-wrapper {
  padding: 3em; 
  background-color:#F4F4F4;
}

#user-wrapper {
  border: 3px outset #F4F4F4;
}